.join_room_buttons_container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 16px;
}

.join_room_cancel_button {
  width: 80px;
  height: 30px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 8px;
  transition: 0.3s;
}

.join_room_cancel_button:hover {
  background-color: #e5e5e5;
}

.join_room_success_button {
  width: 80px;
  margin-right: 15px;
  height: 30px;
  background-color: #2d8cff;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  color: white;
  transition: 0.3s;
}

.join_room_success_button:hover {
  background-color: blue;
}
